.tag {
    display: inline-block;
    background-color: #222224;
    padding: 10px 13px;
    border-radius: 12px;
}

.tag-text {
    margin: 0;
    color: #fff;
    font-size: 13px;
    color: #b3b3b4;
    font-weight: bold;
}