.resume {}

.resume p {
    color: #b3b3b4;
    font-size: 14px;
    line-height: 1.8;
    white-space: pre-line;
}

.timeline {
    flex: 0;
    padding: 0;
    width: 100%;
}

.timeline_opposite_content {
    color: #fff;
}