.layout {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
   justify-content: center;
}

.layout_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.layout_content {
    margin-top: 60px; 
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
}

@media (max-width: 1390px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }
}